@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lato');
@import 'font-awesome';

$background-color: #f3f3f3;
$font-color: #636363;
$lightergrey: #d6d6d6;

html {
  height: 100%;
  background-color: $background-color;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  min-height: 100%;
  width: 96%;
  background-color: $background-color;
  color: $font-color;
  font-family: "Lato", "Lucida Grande", "Tahoma", sans-serif;
  font-size: 20px;
  vertical-align: baseline;
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

a {
  color: rgba(#000, 0.7);
  outline: none;
  text-decoration: none;
  position: relative;
}

article {
  height: 100%;
}

.article-links {
  max-width: 520px;
  margin: 24px auto 16px auto;
  padding-top: 48px;
  padding-bottom: 20px;
  position: relative;
}

article p {
  font-size: 24px;
  text-align: justify;
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
}

article h1 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 8px;
}

.article-title-divider {
  background-color: orange;
  width: 100%;
  margin: 0 auto 24px auto;
  height: 3px;
  border-radius: 2px;
  display: block;
}


.pagination {
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.prev {
  position: absolute;
  right: 0;
}

.underline, article a {
  border-bottom: 2px solid lightblue;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  &:hover:before {
    background-color: orange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.hoverline {
  &:before {
    content: "";
    position: absolute;
    background-color: #e0dede;
    width: 100%;
    height: 2px;
    top: 16px;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  &:hover:before {
    background-color: $font-color;
  }

  &:hover .article-date {
    color: $font-color;
  }

  &:hover .article-title {
    color: rgba(#000, 0.9);
  }
}


a, p {
  line-height: 1.6em;
}

article {
  margin-bottom: 48px;
}

.name {
  display: inline;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.5px;
}

.fade {
  transition: all 0.3s ease-in-out 0s;
}

.ultralight {
  opacity: 0.1
}

.light {
  opacity: 0.3;
}

.zen-fade {
  &:hover {
    opacity: 0.6;
  }

  & a {
    text-decoration: none;
    color: rgba(#000, 0.7);
  }
}

.uppercase {
  text-transform: uppercase;
}

.header-container {
  position: fixed;
  text-align: left;
  right: 0;
  left: 0;
  z-index: 9;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 10px 10px 10px;
  width: 100%;
  letter-spacing: 0.1em;

  & a {
    font-weight: bold;
    color: rgba(#000, 0.5);
  }
}

.rss-link {
  float: right;
  font-size: 18px;
  margin-right: 25px;
}

.nav {
  margin-left: 10px;
  display: inline-block;
}

.active {
  color: rgba(#000, 0.8) !important;
}

.container {
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
}

.article-ref {
  list-style: none;
  margin: 20px 0;
}

.article-year {
  position: absolute;
  line-height: 38px;
  letter-spacing: 0.06em;
}

h3 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: black;
  opacity: 0.7;
}

ul {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 50px;
}

li {
  padding: 0;
  position: relative;
}

.article-date {
  display: inline-block;
  float: right;
  background-color: $background-color;
  padding-left: 8px;
  font-size: 80%;
  font-weight: bold;
  color: $lightergrey;
}

.article-title {
  background-color: $background-color;
  padding-right: 8px;
  color: $font-color;
}

.article-month {
  text-align: right;
  line-height: 38px;
  letter-spacing: 0.01em;
}

.article-ref a {
  position: relative;
}

.hoverblack:hover {
  opacity: 1;
  color: black;
}

.frontpage {
  width: 90%;
  max-width: 520px;
  margin: 10vh auto;
}

.frontpage h1 {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 0.025em;
}

.frontpage img {
  position: absolute;
  right: 0;
  top: 65vh;
  width: 200px;
  height: auto;
}

.page-intro {
  position: relative;
  margin-top: 48px;

  & p {
    font-size: 24px;
    line-height: 1.75em;
    letter-spacing: 0.5px;
  }
}

// phone
@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
  .page-intro {
    font-size: 1em;
    line-height: 1px;
    margin-top: 12px;
  }

  .frontpage img {
    display: none;
  }

  .header-container {
    background-color: $background-color;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

// tablet portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .page-intro {
    margin: 1.5em;
    font-size: 1.5em;
  }

}

.strikethrough {
  text-decoration: line-through;
}

