@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'font-awesome';

html {
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  min-height: 100%;
  width: 96%;
  background-color: #f3f3f3;
  color: #636363;
  font-family: "Lato", "Lucida Grande", "Tahoma", sans-serif;
  font-size: 20px;
  vertical-align: baseline;
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

a {
  color: rgba(#000, 0.7);
  outline: none;
  text-decoration: none;
  position: relative;
}

article {
  height: 100%;
}

article p {
  font-size: 24px;
  text-align: justify;
  margin: 8px 0 0 0;
}

article h1 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 8px;
}

.article-title-divider {
  background-color: orange;
  width: 100%;
  margin: 0 auto 24px auto;
  height: 3px;
  border-radius: 2px;
  display: block;
}


.pagination {
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.prev {
  position: absolute;
  right: 0;
}

.underline, article a {
  border-bottom: 2px solid lightblue;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  &:hover:before {
    background-color: orange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}


a, p {
  line-height: 1.6em;
}

p {
  padding: 8px 0px 0px 0px;
}

article {
  margin-bottom: 24px;
}

.name {
  display: inline;
  font-weight: bold;
  font-size: 18px;
}

.fade {
  transition: all 0.3s ease-in-out 0s;
}

.zen-fade {
  opacity: 0.1;

  &:hover {
    opacity: 0.6;
  }


  & a {
    text-decoration: none;
    color: rgba(#000, 0.7);
  }
}

.uppercase {
  text-transform: uppercase;
}

.header-container {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 20px 0 20px;
  width: 100%;
}

.nav {
  position: fixed;
  z-index: 1002;
  display: none;
  background-color: #254A54;
  color: #ffffff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.rss-link {
  float: right;
  font-size: 18px;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

.article-ref {
  list-style: none;
  margin: 20px 0;
}

.article-date {
  display: block;
  text-transform: uppercase;
  opacity: .5;
  font-size: 75%;
}

.article-ref a {
  position: relative;
}

.hoverblack:hover {
  opacity: 1;
  color: black;
}
