<div class="header-container fade zen-fade">
  <a href="/" id="homelink" class="fade hoverblack">
    <span class="name">J</span>
    <span class="name">M</span>
  </a>

  <a href="/feed.xml" target="_blank" class="fade rss-link hoverblack">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </a>
</div>
