<div class="header-container">
  <div class="nav">
    <a href="/" id="homelink" class="fade hoverblack">
      <span class="name <%= nav_link('/')%>">JM</span>
    </a>
    <span> | </span>
    <a href="/blog" id="bloglink" class="fade hoverblack">
      <span class="<%= nav_link('/blog')%>">Blog</span>
    </a>
  </div>


  <a href="/feed.xml" target="_blank" class="fade zen-fade rss-link hoverblack">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </a>
</div>
