<div class="header-container zen-fade">
  <a href="/" id="homelink">
    <span class="name">J</span>
    <span class="name">M</span>
  </a>

  <a href="/feed.xml" target="_blank" class="rss-link">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </a>
</div>
