<div class="header-container">
  <div class="nav">
    <a href="/" id="homelink" class="fade hoverblack <%= nav_link('/')%>">
      <span class="name">JM</span>
    </a>
    |
    <a href="/blog" id="bloglink" class="fade hoverblack <%= nav_link('/blog')%>">
      Blog
    </a>
  </div>


  <a href="/feed.xml" target="_blank" class="fade zen-fade rss-link hoverblack">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </a>
</div>
