<div class="pagination uppercase zen-fade">
  <% if article.article_next %>
    <a href=<%= article.article_next.url%> class="next">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <%= article.article_next.title %>
    </a>
  <% end %>


  <% if article.article_previous %>
    <a href=<%= article.article_previous.url%> class="prev">
      <%= article.article_previous.title %>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  <% end %>
</div>
