<ul>
  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <h3 class="article-year"><%= year %></h3>
    <% articles.each do |article| %>
      <li class="article-ref">
        <span class="article-date"><%= article.date.strftime '%B %m' %></span>
        <a href="<%= article.url %>" class="underline"><%= article.title %></a>
      </li>
    <% end %>
  <% end %>
</ul>
