<div class="frontpage">
  <%= image_tag 'coffee.jpg' %>

  <h1>Dear Reader,</h1>

  <div class="page-intro">
    <p>
    Thank you for visiting my website!
    </p>


    <p>
    Instead of showcasing my <a class="underline" href="https://github.com/binarymason" target="_blank">code</a> here,
    I collect (hopefully useful) ideas condensed to
    five sentences or less on my <a class="underline" href="/blog">blog</a>.
    </p>

    <p>
    If you'd like to chat,
    <a class="underline" href="https://availability.johnmason.io">let's grab coffee</a>.
    </p>
  </div>
</div>
