<div class="frontpage">
  <%= image_tag 'coffee.jpg', class: "coffeecup" %>

  <h1>Dear Reader,</h1>

  <div class="page-intro">
    <p>
    Thank you for visiting my website!
    </p>


    <p>
    I build digital <a class="bold hoverline" href="https://github.com/binarymason" target="_blank">stuff</a>.
    If you'd like to chat, let's grab <a class="bold hoverline" href="/meet">coffee</a>.
    </p>

    <p>
    Otherwise, feel free to checkout my <a class="bold hoverline" href="/blog">blog</a>.
    </p>

    <p>
    Enjoy the rest of your day.
    </p>
  </div>
</div>
