<div class="frontpage">
  <%= image_tag 'coffee.jpg' %>

</div>

<div class="page-intro">
  <h1>Hi there,</h1>
  <p>I'm <a href="https://github.com/binarymason" class="underline">John</a>.</p>
  <p>Nice to meet you!</p>
  <p>I mostly write articles <a href="/blog" class="underline">here</a>.</p>
  <p>I'm really into improving stuff.</p>
  <p>Let's get <a href="mailto:john@johnmason.io" class="underline">coffee?</a></p>
</div>
