<div class='embed-container'>
  <iframe src="https://player.vimeo.com/video/265818165?color=ffffff&byline=0&portrait=0" width="617" height="347" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="center fancyline">
  <a href="https://goo.gl/27HDh9">
    <div>Download Resume</div>
  </a>
</div>
